<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="HDataCenter.ServiceTest.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings />
    <applicationSettings>
        <HDataCenter.ServiceTest.Properties.Settings>
            <setting name="ListenerAddr" serializeAs="String">
                <value>http://+:8087/</value>
            </setting>
            <setting name="HisService" serializeAs="String">
                <value>http://wap.wzhealth.com/feyservice/interface.asmx</value>
            </setting>
        </HDataCenter.ServiceTest.Properties.Settings>
    </applicationSettings>
</configuration>